:root {
  --background: #292929;
  --foreground: #474747;
  --white: #fff;
  --primary: #6753ff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3d3d3d;
  border-radius: 3px;
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 3px;
  width: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
  width: 6px;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--white);
  overflow: hidden;
  position: relative;
}

.startup {
  padding: 3em;
  background-color: var(--foreground);
  width: min(40%, 20em);
  height: auto;
  position: fixed;
  margin-left: 50%;
  margin-top: 2em;
  transform: translateX(-50%);
}

.window {
  padding: 3em;
  background-color: var(--foreground);
  width: min(80%, 40em);
  height: min(80%, 45em);
  position: fixed;
  margin-left: 50%;
  margin-top: 2em;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.top,
.bottom {
  flex-shrink: 1;
  flex-grow: 0;
}

.split {
  display: flex;
  justify-content: space-between;
}

.online-header {
  font-weight: 700;
  font-size: 1.1em;
  margin: 0.1em;
}

.online-user {
  margin: 0.1em;
  position: relative;
  margin-left: 1em;
}

.online-user::before {
  content: "";
  position: absolute;
  background-color: green;
  left: -1em;
  top: 30%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
  margin-top: 0;
}

hr {
  border: 1px solid #3d3d3d;
  background-color: #3d3d3d;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}

.message-container {
  width: 100%;
  display: flex;
}

.message {
  width: auto;
  margin: 0.5em 0em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: white;
  color: black;
  margin-left: 1em;
}

.me > .message {
  background-color: var(--primary);
  color: var(--white);
  margin-left: auto;
  margin-right: 1em;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  flex-basis: 90%;
  background-color: var(--foreground);
  border: none;
  outline: none;
  color: var(--white);
}

input::placeholder {
  color: #f0f0f0;
}

.send-button {
  padding: 0.4em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--primary);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(black 0.5);
  transition: transform 200ms ease;
}

.send-button:hover {
  transform: translateY(-0.2em);
}
