:root {
  --background: #292929;
  --foreground: #474747;
  --white: #fff;
}

.app {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--white);
}

.window {
  padding: 3em;
  background-color: var(--foreground);
  width: min(80%, 40em);
  height: min(80%, 45em);
  position: relative;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
  margin-top: 0;
}

hr {
  color: var(--background);
}

.messages-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80%;
}

.message-container {
  width: 100%;
  display: flex;
}

.message-container .me {
}

.message {
  width: auto;
  margin: 0.5em 0em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: white;
  color: black;
}

.me > .message {
  background-color: blue;
  color: var(--white);
}

.bottom {
  position: absolute;
  bottom: 3em;
  left: 3em;
  right: 3em;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  flex-basis: 90%;
  background-color: var(--foreground);
  border: none;
  outline: none;
  color: var(--white);
}

input::placeholder {
  color: #f0f0f0;
}

button {
  flex-basis: 10%;
}
